---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="wrap" style=" background: url('img/bg.jpg') rgba(0, 0, 0, .6); background-position: 50% 50%; background-size: cover; background-repeat: no-repeat;">
	<!-- begin header -->
	<header class="header">
		<div class="container">
			<div class="logo">
				<div class="logo__part1">b</div>
				<div class="logo__part2">ino</div>
			</div>
			<nav>
				<ul>
					<li><a href="#">home</a></li>
					<li><a href="#">about us</a></li>
					<li><a href="#">portfolio</a></li>
					<li><a href="#">pricing</a></li>
					<li><a href="#">team</a></li>
					<li><a href="#">blog</a></li>
					<li><a href="#">contact</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- end header -->
	<!-- begin section -->
	<div class="section">
		<div class="container">
			<div class="section__suptitle">Our Clients Are Our First Priority</div>
			<div class="section__title">WELCOME TO BINO
				<div class="section__point"></div>
			</div>
			<div class="section__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
			<div class="section__btns">
				<a href="#" class="section__btn">GET STARTED NOW </a>
				<a href="#" class="section__btn">LEARN MORE</a>
			</div>
		</div>
	</div>
	<!-- end section -->
	<!-- begin anchor -->
	<div class="anchor">
		<div class="anchor__chamfer"></div>
		<div class="anchor__chamfer anchor__chamfer-right"></div>
		<div class="anchor__img">
			<div class="anchor__img-inside" style="background: #fff url(img/anchor.png) no-repeat 50% 50%"></div>
		</div>
	</div>
	<!-- end anchor -->
</div>
{% endblock %}
